html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 194, 194);
    font-family: "Orbitron", sans-serif;
}

header {
    text-align: center;
    font-size: 3em;
}

#calc-container {
    margin-top: 2%;
}

#calc-body {
    width: 30vw;
    height: 60vh;
    background-color: rgb(100, 98, 98);
    border-radius: 10px;
    margin: auto;
}

#calc-display {
    background-color: black;
    width: 96%;
    height: 20%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#screen {
    width: 80%;
    height: 50%;
    background-color: azure;
    border-radius: 5px;
    align-self: flex-end;
    margin-bottom: 3%;
    align-content: center;
}

#calc-buttons-container {
    background-color: lightgray;
    height: 75%;
    width: 96%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

#number-btn-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 75%;
    height: 75%;
}

#operator-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    width: 25%;
}

.number-button {
    width: 30%;
    height: 22%;
    font-size: 1.2em;
    background-color: orange;
    margin: 1%;
    align-content: center;
    text-align: center;
    border-radius: 2px;
}

.number-button:hover {
    cursor: pointer;
}

.operator-button {
    width: 90%;
    height: 22%;
    font-size: 1.2em;
    background-color: cornflowerblue;
    margin: 1%;
    align-content: center;
    text-align: center;
    border-radius: 2px;
}

.operator-button:hover {
    cursor: pointer;
}
